<ul id="services_list">
  <!--<li><%= link_to "/auth/salesforce" do %><%= image_tag "chatter_64.png", :size => "64x64", :alt => "Chatter" %>Chatter<% end %></li>-->
  <li><%= link_to "/auth/forcedotcom" do %><%= image_tag "chatter_64.png", :size => "64x64", :alt => "Chatter" %>Chatter<% end %></li>
  <li><%= link_to "/auth/facebook" do %><%= image_tag "facebook_64.png", :size => "64x64", :alt => "Facebook" %>Facebook<% end %></li>
  <li><%= link_to "/auth/linked_in" do %><%= image_tag "linkedin_64.png", :size => "64x64", :alt => "LinkedIn" %>LinkedIn<% end %></li>
  <li><%= link_to "/auth/twitter" do %><%= image_tag "twitter_64.png", :size => "64x64", :alt => "Twitter" %>Twitter<% end %></li>
</ul>